@charset "utf-8";

main {
    width: 80%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}
main, footer, header, article, section, div {
    border: 1px solid gray;
    background-color: lightgray;
}
table, td, th {
    border: 1px solid gray;
    border-collapse: collapse;
}
section {
    display: grid;
    grid-template-columns: 50px auto 50px;
}
img {
    width: 80%;
}
#bal, #jobb{
    margin: auto;
    background-color: white;
}